<div clas="home">

  <div class="album">
    <h3>Top Ten Albums</h3>
  </div>

  <div class="book">
    <h3>Top Ten Books</h3>
  </div>

  <div class="movie">
    <h3>Top Ten Movies</h3>
  </div>

</div>
